@font-face {
  font-family: league spartan;
  src: url(./assets/LeagueSpartan-VariableFont_wght.ttf);
}
body {
  background-color: hsl(222, 26%, 31%);
  /* height: 100vh; */
  display: flex;
  align-items: center;
}
* {
  font-family: league spartan;
}

main {
  min-width: 100%;
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 4%;
  background-color: hsl(222, 26%, 31%);
}

body,
html {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: white;
}

.theme {
  display: flex;
  gap: 30px;
}
.theme-selectors__label {
  display: flex;
  gap: 8px;
  justify-content: center;
  color: hsl(30, 25%, 89%);
  font-family: "League Spartan", sans-serif;
}
.theme-selectors__label label {
  cursor: pointer;
}
.theme_label {
  align-self: flex-end;
  font-size: 0.9rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: white;
}

.radiobtns {
  display: flex;
  background-color: hsl(224, 28%, 35%);
  padding: 4px 4px 4px 5px;
  border-radius: 10px;
  gap: 2px;
  background-color: hsl(223, 31%, 20%);
  align-items: center;
  justify-content: center;
}

.label {
  /* display: block; */
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
}

.label input {
  opacity: 1;
  opacity: 0;
  margin: 0 auto;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: hsl(223, 31%, 20%);
}

.label:hover .checkmark {
  position: absolute;
  background-color: hsl(220, 3%, 65%);
  opacity: 0.2;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
}

.label input:checked ~ .checkmark {
  background-color: hsl(6, 90%, 48%);
}

.label:hover input:checked ~ .checkmark {
  background-color: hsl(6, 73%, 66%);
  opacity: 1;
}

/* .label:hover {
  background-color: #ccc;
}

input:checked {
  background-color: red;
}
*/

.resultTextArea {
  font-family: league spartan;
  outline: none;
  border: none;
  color: white;
  font-size: 2rem;
  margin-top: 4%;
  width: 100%;
  height: 5rem;
  text-align: right;

  background-color: hsl(223, 31%, 20%);
  border-radius: 7px;
  /* display: flex;
  align-items: center; */
}
.resultTextArea:active {
  border: none;
}

.ops {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 4%;
  background-color: hsl(223, 31%, 20%);
  border-radius: 6px;
  justify-content: center;
}
.row {
  display: flex;
  border-radius: 3px;
  justify-content: space-evenly;
}

.row button {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 4%;
  height: 0%;
  font-family: "League Spartan", sans-serif;
}

button,
#equal {
  font-size: 3rem;
  padding: 1.4rem 0.1rem;
  background-color: hsl(30, 25%, 89%);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0.3rem 0px hsl(28, 16%, 65%);
  color: hsl(223, 31%, 20%);
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  font-weight: 1000;
  cursor: pointer;
  border: none;
}

button:active {
  margin-top: 3%;
}

.last-row {
  display: flex;
  justify-content: space-evenly;
  /* padding-bottom: 4%; */
  margin-bottom: 4%;
}

.last-row button {
  min-width: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 5% 0% 0%;
}

.last-row button:active {
  margin: 4% 0% 1%;
}

#reset {
  background-color: hsl(222, 26%, 31%);
  box-shadow: 0px 0.3rem 0px hsl(220, 3%, 65%);
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

#equal {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 0.3rem 0px hsl(6, 70%, 34%);
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: red;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffff;
    color: #333;
  }
}
