@font-face {
  font-family: "league spartan";
  src: url(../assets/LeagueSpartan-VariableFont_wght.ttf);
}

:root {
  /* bakgrounds*/
  --main-bg: hsl(222, 26%, 31%);
  --togge-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  /* Keys */
  --key-bg: hsl(225, 21%, 49%);
  --key-sh: hsl(224, 28%, 35%);

  --equal-bg: hsl(6, 63%, 50%);
  --equal-sh: hsl(6, 70%, 34%);

  --operand-bg: hsl(30, 25%, 89%);
  --operand-sh: hsl(28, 16%, 65%);

  /* text*/
  --operand-color: hsl(221, 14%, 31%);
  --equal-color: hsl(0, 0%, 100%);
  --result-color: white;
}

:root:has(#light:checked) {
  /* bakgrounds*/
  --main-bg: hsl(0, 0%, 90%);
  --togge-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  /* Keys */
  --key-bg: hsl(184, 88%, 35%);
  --key-sh: hsl(185, 58%, 25%);

  --equal-bg: hsl(25, 98%, 40%);
  --equal-sh: hsl(25, 99%, 27%);

  --operand-bg: hsl(45, 7%, 89%);
  --operand-sh: hsl(35, 11%, 61%);

  /* text*/
  --operand-color: hsl(60, 10%, 19%);
  --white: hsl(0, 0%, 100%);
  --result-color: hsl(60, 10%, 19%);
}

:root:has(#black:checked) {
  /* bakgrounds*/
  --main-bg: hsl(268, 75%, 9%);
  --togge-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  /* Keys */
  --key-bg: hsl(281, 89%, 26%);
  --key-sh: hsl(285, 91%, 52%);

  --equal-bg: hsl(176, 100%, 44%);
  --equal-sh: hsl(177, 92%, 70%);

  --operand-bg: hsl(268, 47%, 21%);
  --operand-sh: hsl(290, 70%, 36%);

  /* text*/
  --operand-color: hsl(52, 100%, 62%);
  --white: hsl(198, 20%, 13%);
  --result-color: hsl(52, 100%, 62%);
}

body {
  background-color: var(--main-bg);
  /* height: 100vh; */
  display: flex;
  align-items: center;
}
* {
  font-family: league spartan;
}

main {
  min-width: 100%;
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0% 9%;
  background-color: var(--main-bg);
}

body,
html {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: var(--result-color);
}

.theme {
  display: flex;
  gap: 30px;
}

.theme-selectors__label {
  display: flex;
  gap: 8px;
  justify-content: center;
  color: var(--result-color);
  font-family: "League Spartan", sans-serif;
}
.theme-selectors__label label {
  cursor: pointer;
}

.theme_label {
  align-self: flex-end;
  font-size: 0.9rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: var(--result-color);
}

.radiobtns {
  display: flex;
  padding: 4px 4px 4px 5px;
  border-radius: 10px;
  gap: 2px;
  background-color: var(--togge-bg);
  align-items: center;
  justify-content: center;
}

.label {
  /* display: block; */
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
}

.label input {
  opacity: 1;
  opacity: 0;
  margin: 0 auto;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.label:hover .checkmark {
  position: absolute;
  background-color: var(--equal-sh);
  opacity: 0.4;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
}

.label input:checked ~ .checkmark {
  background-color: var(--equal-bg);
}

.label:hover input:checked ~ .checkmark {
  background-color: var(--equal-sh);
  opacity: 0.8;
}

/* .label:hover {
  background-color: #ccc;
}

input:checked {
  background-color: red;
}
*/

input[type="text"].resultTextArea {
  color: var(--result-color);
  font-family: league spartan;
  outline: none;
  border: 0;
  font-size: 2rem;
  margin-top: 4%;
  width: 100%;
  height: 5rem;
  text-align: right;
  background-color: var(--screen-bg);
  border-radius: 7px;
  font-weight: 700;
  /* display: flex;
  align-items: center; */
}
.resultTextArea:active {
  border: none;
}

.ops {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--togge-bg);
}

.op {
  color: var(--operand-color);
  background-color: var(--operand-bg);
  box-shadow: 0px 0.3rem 0px var(--operand-sh);
  transition: margin 0.1s;
}

.row {
  display: flex;
  border-radius: 3px;
  justify-content: space-evenly;
}

.row button {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 4%;
  height: 0%;
  font-family: "League Spartan", sans-serif;
}

button,
#equal {
  font-size: 3rem;
  padding: 1.4rem 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  /* color: hsl(223, 31%, 20%); */
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  font-weight: 1000;
  cursor: pointer;
  border: none;
}

button:active {
  margin-top: 3%;
}

.last-row {
  display: flex;
  justify-content: space-evenly;
  /* padding-bottom: 4%; */
  margin-bottom: 4%;
}

.last-row button {
  min-width: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 5% 0% 0%;
  transition: margin 0.1s;
}

.last-row button:active {
  margin: 4% 0% 1%;
}

#del {
  background-color: var(--key-bg);
  box-shadow: 0px 0.3rem 0px var(--key-sh);
  color: white;
}

#reset {
  background-color: var(--key-bg);
  box-shadow: 0px 0.3rem 0px var(--key-sh);
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

#equal {
  background-color: var(--equal-bg);
  box-shadow: 0px 0.3rem 0px var(--equal-sh);
  font-size: 1rem;
  font-weight: 700;
  color: var(--equal-color);
}

@media only screen and (min-width: 1040px) {
  body {
    display: grid;
    place-items: center;
  }
  .calculator {
    min-width: 40%;

    padding: 0.2% 0% 0%;
  }
  .resultTextArea {
    max-height: 12%;
  }
}
